
<% var page='' %>
<%include shared/header%>
<div class="header-home">
    <div class="title-home">
        <h2>Vinyl Records</h2>
    </div>
</div>
<div class="row">
    <div class="col s3">
        <h3>Records</h3>
        <div class="album-list margin-left">
            <% albums.forEach(function(album) { %>
            <div>
                <h5>
                    <a href="/albums/<%= album.id %>">
                        <%= album.title %>
                    </a>
                </h5>
                <span><%= album.artist %></span>
            </div>
            <% }) %>
    </div>
    </div>
    <div class="col s9">
        <h3>Recent Reviews</h3>
    </div>
</div>


<%include shared/footer%>
