<% var page='New Review' %>
<%include ../shared/header%>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="row large-margin-top">
      <div class="col s12">
        <h3 >New review for <span class="cyan-text"><%= album.title %></span></h3>
      </div>
    </div>
    <form action="/albums/newreview" method="POST">
      <div class="row">
        <div class="col s12">
          <div class="input-field">
            <textarea class="materialize-textarea" placeholder="Enter your review..." data-length="255" name="review"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 right-align">
          <input type="submit" class="btn" value="Submit">
        </div>
      </div>
      <input type="hidden" name="albumId" value="<%= album.id %>">
    </form>
  </div>
</div>
<%include ../shared/footer%>